# Compiled C++ binaries
test
*.out
*.exe

# Python cache & virtual environment
__pycache__/
*.pyc
.venv/

# VSCode and Codespaces settings
.vscode/
.history/
*.code-workspace

# Devcontainer temporary files
.devcontainer/.env

# System files
.DS_Store
Thumbs.db
